<% content_for :head do %>
  <%= tag :meta, name: :argyle_user_token, content: @user_token %>
  <%= tag :meta, name: :argyle_sandbox, content: ENV['ARGYLE_SANDBOX'] %>
<% end %>

<h2>Get payment info from your employer.</h2>

<%= form_with url: '/providers/confirm', method: :post, data: { controller: "providers" } do |f| %>
  <label class="usa-label" for="employer">Search for an employer</label>
  <div
    data-action="input->providers#search"
    class="usa-combo-box margin-bottom-3"
  >
    <select class="usa-select" name="user[employer]" id="employer" data-providers-target="options" data-action="change->providers#select">
      <option value>Select an employer</option>
      <% @companies.each do |company| %>
        <option value='<%= company['id'] %>'><%= company['name'] %></option>
      <% end %>
    </select>
    <input type="hidden" name="user[account_id]" data-providers-target="userAcountId" />
  </div>
  <%= f.submit "Continue",
    class: "usa-button usa-button--outline",
    disabled: "disabled",
    type: "submit",
    data: { action: "click->providers#submit", 'providers-target': "continue" }
  %>
<% end %>
